# Database Configuration
# MONGODB_URI=mongodb://localhost:27017/university_event_management
MONGODB_URI=mongodb+srv://youssefahmedelfeky_db_user:NdDthzLedkjRaV4U@cluster0.mcmuaif.mongodb.net/university-events

# JWT Configuration
JWT_SECRET=UniversityEventManagement2025_SecureKey_YourProject_8374926!
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
FRONTEND_URL=http://localhost:3000

# Email Configuration
EMAIL_FROM=GUCEvents.noreply@gmail.com
EMAIL_SERVICE=gmail
EMAIL_USER=GUCEvents.noreply@gmail.com
EMAIL_PASSWORD=gjexivgludjsafpw

# Image upload (remove quotes)
IMAGEKIT_PUBLIC_KEY=public_XER0ba7KignMkhGDWnq6JiHQBaA=
IMAGEKIT_PRIVATE_KEY=private_QUTSwXeItYzXWfGrnrfMfun4IWY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/sprints

#Stripe
STRIPE_SECRET_KEY=sk_test_51SQwBo9qW4Q5fjFg22HnNLlLxeBwpWUkWojyVWnXUzI37Hlk3uGVWnj6M8qD2vlvTZdCu17mXAkBOueAbPNcb1Sq00u6mwvXKt